# Add yourself to whatever files are appropriate for you to review

# IMPORTANT CODEOWNERS -- ADD YOURS ABOVE
/CODEOWNERS             carrvo@gmail.com
/LICENSE                carrvo@gmail.com
/debian/copyright       carrvo@gmail.com
/debian/control         carrvo@gmail.com
/debian/changelog       carrvo@gmail.com
